<!--
  ~ Copyright 2013-2015 Open Text.
  ~
  ~ Licensed under the MIT License (the "License"); you may not use this file
  ~ except in compliance with the License.
  ~
  ~ The only warranties for products and services of Open Text and its affiliates
  ~ and licensors ("Open Text") are as may be set forth in the express warranty
  ~ statements accompanying such products and services. Nothing herein should be
  ~ construed as constituting an additional warranty. Open Text shall not be
  ~ liable for technical or editorial errors or omissions contained herein. The
  ~ information contained herein is subject to change without notice.
  -->

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>
</settings>
