<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2013-2015 Hewlett-Packard Development Company, L.P.
  ~ Licensed under the MIT License (the "License"); you may not use this file except in compliance with the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="configService" class="com.autonomy.frontend.testing.mock.MocksFactory">
        <property name="type" value="com.hp.autonomy.frontend.configuration.ConfigService"/>
    </bean>

    <bean id="aciService" class="com.autonomy.frontend.testing.mock.MocksFactory">
        <property name="type" value="com.autonomy.aci.client.services.impl.AciServiceImpl"/>
    </bean>

    <bean id="processorFactory" class="com.autonomy.frontend.testing.mock.MocksFactory">
        <property name="type" value="com.autonomy.aci.client.annotations.IdolAnnotationsProcessorFactory"/>
    </bean>

    <bean class="com.hp.autonomy.user.admin.UserAdminImpl">
        <constructor-arg index="0" ref="configService"/>
        <constructor-arg index="1" ref="aciService"/>
        <constructor-arg index="2" ref="processorFactory"/>
    </bean>
</beans>